{{$showDevHeader := .Development}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | App Settings</title>

		{{template "html_head" .}}
	</head>
	<body>
		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container" >
				<div class="row justify-content-center">
                    
                    <!-- column for choosing app and editing app (name, file format, etc.) -->
                    <div class="col-12 col-md-5" id="manageApps">
                        <!-- card for choosing the app you want to lookup/edit, not shown when adding a new app -->
                        <div class="card" v-if="addingNew === false">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5>Apps</h5>
                                </div>
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" v-on:click="setState">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">App:</label>
                                    <select class="form-select" v-model.number="appSelectedID" v-on:change="showApp">
                                        <template v-if="!appsRetrieved">
                                            <option value="0">Loading...</option>
                                        </template>
                                        <template v-else-if="apps.length === 0" v-cloak>
                                            <option value="0">No apps exist yet.</option>
                                        </template>
                                        <template v-else v-cloak>
                                            <option value="0" disabled>Please choose.</option>
                                            <option v-for="(x, index) in apps" :key="index" v-bind:value="x.ID">[[x.Name]] <span v-if="!x.Active">([[x.Active]])</span></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="alert" v-show="msgLoad.length > 0" v-bind:class="msgLoadType" v-cloak>
                                    [[msgLoad]]
                                </div>
                            </div>
                        </div> <!-- end .card for looking up -->

                        <!-- card for viewing/editing an app, shown when an app is chosen or adding a new app -->
                        <div class="card" v-if="appSelectedID > 0 || addingNew" v-cloak>
                            <div class="card-header">
                                <h5>[[addEditCardTitle]]</h5>
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" v-if="addingNew" v-on:click="setState">
                                        <i class="fa-solid fa-search" v-cloak></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <!-- App's ID is shown for use with API. -->
                                    <fieldset v-if="appSelectedID > 0 && !addingNew" disabled v-cloak>
                                        <div class="form-group">
                                            <label class="form-label">ID:</label>
                                            <input class="form-control" type="number" v-model.number="appData.ID">
                                        </div>
                                    </fieldset>

                                    <!-- General App data.-->
                                    <fieldset v-bind:disabled="submitting">
                                        <div class="form-group">
                                            <label class="form-label">Name:</label>
                                            <input class="form-control" type="text" v-model.trim="appData.Name" v-on:change="setDefaultDownloadFilename">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Default License Period:</label>
                                            <div class="input-group">
                                                <input class="form-control" type="number" min="0" step="1" v-model.number="appData.DaysToExpiration">
                                                <span class="input-group-text">Days</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">
                                                File Format:
                                                <span 
                                                    class="help-icon text-secondary" 
                                                    data-bs-toggle="tooltip" 
                                                    data-bs-title="How the data will be stored inside the license file."
                                                >
                                                    <i class="fa-solid fa-question-circle"></i>
                                                </span>
                                            </label>
                                            <select class="form-select" v-model.trim="appData.FileFormat" v-on:change="setDefaultDownloadFilename">
                                                <option value="" disabled>Please choose.</option>
                                                <option v-for="ff in fileFormats" v-bind:value="ff">[[ff.toUpperCase()]]</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">
                                                License Filename: 
                                                <!-- TODO: link to page explaining magic replacement code ({ext} is replaced with .json, .yaml)-->
                                                <span 
                                                    class="help-icon text-secondary" 
                                                    data-bs-toggle="tooltip"
                                                    data-bs-title="The name of the file a license will be downloaded as. You can use {licenseID}, {appName}, and {ext} as placeholders."
                                                >
                                                    <i class="fa-solid fa-question-circle"></i>
                                                </span>
                                            </label>
                                            <input class="form-control" type="text" placeholder="my-app-name.yaml" v-model.trim="appData.DownloadFilename">
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="form-label col-sm-6">Show ID In License:</label>
                                                <div class="col-sm-6 d-flex flex-row-reverse">
                                                    <div class="btn-group" role="group">
                                                        <input class="btn-check" type="radio" name="ShowLicenseID" id="ShowLicenseID-true" autocomplete="off" v-model="appData.ShowLicenseID" v-bind:value="true">
                                                        <label class="btn btn-secondary" for="ShowLicenseID-true">Yes</label>
                                                        
                                                        <input class="btn-check" type="radio" name="ShowLicenseID" id="ShowLicenseID-false" autocomplete="off" v-model="appData.ShowLicenseID" v-bind:value="false">
                                                        <label class="btn btn-secondary" for="ShowLicenseID-false">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="form-label col-sm-6">Show App Name in License:</label>
                                                <div class="col-sm-6 d-flex flex-row-reverse">
                                                    <div class="btn-group" role="group">
                                                        <input class="btn-check" type="radio" name="ShowAppName" id="ShowAppName-true" autocomplete="off" v-model="appData.ShowAppName" v-bind:value="true">
                                                        <label class="btn btn-secondary" for="ShowAppName-true">Yes</label>
                                                        
                                                        <input class="btn-check" type="radio" name="ShowAppName" id="ShowAppName-false" autocomplete="off" v-model="appData.ShowAppName" v-bind:value="false">
                                                        <label class="btn btn-secondary" for="ShowAppName-false">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="form-label col-sm-6">Active:</label>
                                                <div class="col-sm-6 d-flex flex-row-reverse">
                                                    <div class="btn-group" role="group">
                                                        <input class="btn-check" type="radio" name="Active" id="Active-true" autocomplete="off" v-model="appData.Active" v-bind:value="true">
                                                        <label class="btn btn-secondary" for="Active-true">Yes</label>
                                                        
                                                        <input class="btn-check" type="radio" name="Active" id="Active-false" autocomplete="off" v-model="appData.Active" v-bind:value="false">
                                                        <label class="btn btn-secondary" for="Active-false">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                                <div class="alert" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                                    [[msgSave]]
                                </div>
                            </div> <!-- end .card-body-->
                            <div class="card-footer">
                                <button class="btn btn-primary" type="button" v-on:click="addOrUpdate" v-bind:disabled="submitting">Save</button>
                            </div>
                        </div>
                    </div> <!-- end .col for view/edit/add -->

                    <!-- column for key pairs & custom fields/metadata fields -->
                    <div class="col-12 col-md-7">
                        
                        <!-- card for key pairs -->
                        <div class="card" id="listKeyPairs">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5>
                                        <span class="collapse-clickable-area pointer" v-on:click="collapseUI = !collapseUI">
                                            <span 
                                                v-if="appSelectedID > 0" 
                                                class="collapse-icon pe-1 text-secondary" 
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Click to collapse/expand." 
                                                v-cloak
                                            >
                                                <i v-if="collapseUI" class="fas fa-angle-double-down"></i>
                                                <i v-else            class="fas fa-angle-double-up"></i>
                                            </span>
                                            <span class="title">Key Pairs</span>
                                        </span>
                                    </h5>
                                </div>
                                
                                <div class="card-header-btn" v-if="appSelectedID > 0" v-cloak>
                                    <div class="card-header-btn">
                                        <button 
                                            class="btn btn-outline-primary btn-sm" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#modal-manageKeyPair" 
                                            v-on:click="passToManageKeypairModal(undefined)"
                                        >
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" v-if="collapseUI === false" v-cloak>
                                <section>
                                    <blockquote class="description description-secondary">
                                        <p v-if="appSelectedID < 1">Choose an app first.</p>
                                        <p v-else v-cloak>Key pairs are used for signing your licenses. You can define multiple key pairs for key rotation or development versus production uses.</p>
                                    </blockquote>
                                </section>
                                
                                <section v-if="appSelectedID > 0" v-cloak>
                                    <hr class="divider">

                                    <table class="table table-sm">
                                        <thead class="no-border-top">
                                            <tr>
                                                <th class="column-name">Name</th>
                                                <th class="column-keypair-algo">Type</th> <!-- ecdsa, rsa -->
                                                <th class="column-tasks one-task"></th> <!-- view details in modal button -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="!keyPairsRetrieved">
                                                <tr>
                                                    <td colspan="10">Loading...</td>
                                                </tr>
                                            </template>
                                            <template v-else-if="keyPairs.length === 0">
                                                <tr>
                                                    <td colspan="10">No key pairs exist yet.</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="x in keyPairs" :key="x.ID" v-bind:data-id="x.ID">
                                                    <td class="column-name">
                                                        <span class="app-name">[[x.Name]]</span>
                                                        <span 
                                                            class="default text-primary"
                                                            v-if="x.IsDefault" 
                                                            data-bs-toggle="tooltip"
                                                            data-bs-title="Default key pair."
                                                        >
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span 
                                                            class="private-key-encrypted text-warning" 
                                                            v-if="!x.PrivateKeyEncrypted" 
                                                            data-bs-toggle="tooltip"
                                                            data-bs-title="Private key is not encrypted."
                                                        >
                                                            <i class="fa-solid fa-unlock"></i>
                                                        </span>
                                                    </td>
                                                    <td class="column-keypair-algo">[[x.AlgorithmType]]</td>
                                                    <td class="column-tasks one-task">
                                                        <button 
                                                            class="btn btn-sm btn-link text-primary" 
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#modal-manageKeyPair" 
                                                            v-on:click="passToManageKeypairModal(x)"
                                                        >
                                                            <i class="fa-solid fa-cog"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                    <div class="alert" v-show="msgLoad.length > 0" v-bind:class="msgLoadType" v-cloak>
                                        [[msgLoad]]
                                    </div>
                                </section>
                            </div> <!-- end .card-body -->
                        </div> <!-- end .card for key pairs-->
                        
                        <!-- card for custom field/metadata types -->
                        <div class="card" id="listCustomFieldsDefined">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5>
                                        <span class="collapse-clickable-area pointer" v-on:click="collapseUI = !collapseUI">
                                            <span 
                                                v-if="appSelectedID > 0" 
                                                class="collapse-icon pe-1 text-secondary" 
                                                data-bs-toggle="tooltip"
                                                data-bs-title="Click to collapse/expand." 
                                                v-cloak
                                            >
                                                <i v-if="collapseUI" class="fas fa-angle-double-down"></i>
                                                <i v-else            class="fas fa-angle-double-up"></i>
                                            </span>
                                            <span class="title">Metadata Fields</span>
                                        </span>
                                    </h5>
                                </div>
                                <div class="card-header-btn" v-if="appSelectedID > 0" v-cloak>
                                    <div class="card-header-btn">
                                        <button 
                                            class="btn btn-outline-primary btn-sm" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#modal-manageCustomFieldDefined" 
                                            v-on:click="passToManageCustomFieldModal(undefined)"
                                        >
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" v-if="collapseUI === false" v-cloak>
                                <section>
                                    <blockquote class="description description-secondary">
                                        <p v-if="appSelectedID < 1">Choose an app first.</p>
                                        <p v-else v-cloak>Metadata fields allow you to provide additional data in your licenses for enabling features, limiting user count, etc.</p>
                                    </blockquote>
                                </section>
                                
                                <section v-if="appSelectedID > 0" v-cloak>
                                    <hr class="divider">

                                    <table class="table table-sm">
                                        <thead class="no-border-top">
                                            <tr>
                                                <th class="column-name">Name</th>
                                                <th class="column-custom-field-type">Type</th> <!-- text, bool, integer, etc. -->
                                                <th class="column-field-default-value">Default</th>
                                                <th class="column-tasks one-task"></th> <!-- view details in modal button -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="!fieldsRetrieved">
                                                <tr>
                                                    <td colspan="10">Loading...</td>
                                                </tr>
                                            </template>
                                            <template v-else-if="fields.length === 0">
                                                <tr>
                                                    <td colspan="10">No fields exist yet.</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="x in fields" :key="x.ID" v-bind:data-id="x.ID">
                                                    <td class="column-name">[[x.Name]]</td>
                                                    <td class="column-custom-field-type">[[x.Type]]</td>
                                                    <td class="column-field-default-value">
                                                        <span v-if="x.Type === customFieldTypeInteger">[[x.IntegerDefaultValue]]</span>
                                                        <span v-else-if="x.Type === customFieldTypeDecimal">[[x.DecimalDefaultValue.toFixed(2)]]</span>
                                                        <span v-else-if="x.Type === customFieldTypeText">[[x.TextDefaultValue]]</span>
                                                        <span v-else-if="x.Type === customFieldTypeBoolean">[[x.BoolDefaultValue]]</span>
                                                        <span v-else-if="x.Type === customFieldTypeMultiChoice">[[x.MultiChoiceDefaultValue]]</span>
                                                        <span v-else-if="x.Type === customFieldTypeDate">+[[x.DateDefaultIncrement]] days</span>
                                                    </td>
                                                    <td class="column-tasks one-task">
                                                        <button 
                                                            class="btn btn-sm btn-link text-primary" 
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#modal-manageCustomFieldDefined" 
                                                            v-on:click="passToManageCustomFieldModal(x)"
                                                        >
                                                            <i class="fa-solid fa-cog"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </section>
                            </div> <!-- end .card-body -->
                        </div> <!-- end .card for custom field types-->
                    </div> <!-- end .col for keypairs and customer fields -->

                </div> <!-- end .row -->
            </div> <!-- end .container -->
        </main>

        <!-- add/view keypair modal -->
        <div class="modal fade" id="modal-manageKeyPair">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title">
                                <span v-if="adding">Add Key Pair</span>
                                <span v-else       >View Key Pair</span>
                            </h5>
                        </div>
                        <div>
                            <button 
                                type="button" 
                                class="btn btn-sm btn-outline-danger" 
                                data-bs-dismiss="modal" 
                                v-on:click="remove"
                                v-if="!adding"
                            >
                                <i class="fa-solid fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <blockquote class="description description-secondary">
                            <p v-if="adding">Define the key pair for signing licenses.</p>
                            <p v-else>The public key for this key pair can be viewed/copied for use in your app's code.</p>
                        </blockquote>
                        <hr class="divider">

                        <form>
                            <!-- Only show keypair ID when viewing an existing keypair. -->
                            <!-- ID is shown for use with API -->
                            <fieldset v-if="keyPairData.ID > 0" v-cloak>
                                <div class="form-group">
                                    <label class="form-label">ID:</label>
                                    <input 
                                        class="form-control" 
                                        type="number" 
                                        v-model.trim="keyPairData.ID"
                                        disabled
                                    >
                                </div>
                            </fieldset>

                            <!-- Fields to set when adding a new keypair. -->
                            <fieldset v-bind:disabled="submitting || !adding">
                                <div class="form-group">
                                    <label class="form-label">Name:</label>
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        v-model.trim="keyPairData.Name"
                                    >
                                </div>
                                <div class="form-group">
                                    <label class="form-label">
                                        Type: 
                                        <span 
                                            class="help-icon text-secondary" 
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Key generation algorithm and length."
                                        >
                                            <i class="fa-solid fa-question-circle"></i></span>
                                        </label>
                                    <select class="form-select" v-model="keyPairData.AlgorithmType">
                                        <option value="" disabled selected>Please choose.</option>
                                        <option v-for="at in algorithmTypes" v-bind:value="at">[[at]]</option>
                                    </select>
                                </div>
                            </fieldset>

                            <!-- Fields when viewing an existing keypair. -->
                            <fieldset v-if="!adding" v-cloak>
                                <hr class="divider">

                                <div class="form-group">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-primary" type="button" v-on:click="showPublicKey = !showPublicKey">Show Public Key</a>
                                    </div>
                                </div>
        
                                <div class="form-group" v-if="showPublicKey" v-cloak>
                                    <textarea 
                                        class="form-control text-monospace" 
                                        v-bind:value="keyPairData.PublicKey"
                                        v-bind:rows="publicKeyNumLines"
                                        wrap="off"
                                        disabled 
                                    ></textarea>
                                </div>
    
                                <div class="alert alert-warning" v-if="!keyPairData.PrivateKeyEncrypted">
                                    <b>Warning!</b> The private key for this key pair is not encrypted.
                                </div>
                            </fieldset>
                        </form>

                        <div class="alert mt-3 mb-0" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                            [[msgSave]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-if="adding"                      v-on:click="add"        v-bind:disabled="submitting">Save</button>
                            <button class="btn btn-primary" v-else-if="!keyPairData.IsDefault" v-on:click="setDefault" v-bind:disabled="submitting">Set as Default</button>

                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end modal to add/view key pair -->

        <!-- add/view/edit custom field modal -->
        <div class="modal fade" id="modal-manageCustomFieldDefined">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <span v-if="adding">Add Metadata Field</span>
                            <span v-else       >Edit Metadata Field</span>
                        </h5>
                        <div>
                            <button 
                                type="button" 
                                class="btn btn-sm btn-outline-danger" 
                                data-bs-dismiss="modal" 
                                v-on:click="remove"
                                v-if="!adding"
                            >
                                <i class="fa-solid fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <blockquote class="description description-secondary">
                            <p>Metadata fields store additional information in your license files. Define fields for the maximum user count, enabling features, setting support levels, etc.</p>
                        </blockquote>
                        <hr class="divider">
                        
                        <form>
                            <fieldset v-bind:disabled="submitting">
                                <!-- Basic stuff. -->
                                <div class="form-group">
                                    <label class="form-label">Name:</label>
                                    <input class="form-control" type="text" v-model.trim="fieldData.Name">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">
                                        Instructions:
                                        <span 
                                            class="help-icon text-secondary" 
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Hint about what value should be provided when creating a license."
                                        >
                                            <i class="fa-solid fa-question-circle"></i>
                                        </span>
                                    </label>
                                    <textarea class="form-control" rows="3" v-model.trim="fieldData.Instructions"></textarea>
                                </div>
                                <div class="form-group">
                                    <!-- you can only set type when adding, not updating, so we don't have messy data in db -->
                                    <label class="form-label">Type:</label>
                                    <select 
                                        class="form-select" 
                                        v-model="fieldData.Type" 
                                        v-bind:disabled="!adding"
                                    >
                                        <option value="" disabled selected>Please choose.</option>
                                        <option v-for="cft in customFieldTypes" v-bind:value="cft">[[cft]]</option>
                                    </select>
                                </div>
    
                                <!-- Based on field type chosen... -->
                                <section v-show="fieldData.Type === customFieldTypeInteger">
                                    <div class="form-group">
                                        <label class="form-label">Range:</label>
                                        <div class="input-group">
                                            <input type="number" step="1" class="form-control" v-model.number="fieldData.NumberMinValue">
                                            <input type="number" step="1" class="form-control" v-model.number="fieldData.NumberMaxValue">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Default:</label>
                                        <input 
                                            class="form-control" 
                                            type="number" 
                                            step="1" 
                                            v-model.number="fieldData.IntegerDefaultValue"
                                            v-bind:min="fieldData.NumberMinValue"
                                            v-bind:max="fieldData.NumberMaxValue"
                                        >
                                    </div>
                                </section>
                                <section v-show="fieldData.Type === customFieldTypeDecimal">
                                    <div class="form-group">
                                        <label class="form-label">Range:</label>
                                        <div class="input-group">
                                            <!-- step is set to match .toFixed(2) in table of fields -->
                                            <input type="number" step="0.01" class="form-control" v-model.number="fieldData.NumberMinValue">
                                            <input type="number" step="0.01" class="form-control" v-model.number="fieldData.NumberMaxValue">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Default:</label>
                                        <input 
                                            class="form-control" 
                                            type="number" 
                                            step="0.01" 
                                            v-model.number="fieldData.DecimalDefaultValue"
                                            v-bind:min="fieldData.NumberMinValue"
                                            v-bind:max="fieldData.NumberMaxValue"
                                        >
                                    </div>
                                </section>
                                <section v-show="fieldData.Type === customFieldTypeText">
                                    <div class="form-group">
                                        <label class="form-label">Default:</label>
                                        <input class="form-control" type="text" v-model.trim="fieldData.TextDefaultValue">
                                    </div>
                                </section>
                                <section v-show="fieldData.Type === customFieldTypeBoolean">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="form-label col-sm-6">Default:</label>
                                            <!-- Not using "yes"/"no" here as button text since we are going to encode the data as true/false in license anyway. -->
                                            <div class="col-sm-6 d-flex flex-row-reverse">
                                                <div class="btn-group" role="group">
                                                    <input class="btn-check" type="radio" name="BoolDefaultValue" id="BoolDefaultValue-true" autocomplete="off" v-model="fieldData.BoolDefaultValue" v-bind:value="true">
                                                    <label class="btn btn-secondary" for="BoolDefaultValue-true">Yes</label>
                                                    
                                                    <input class="btn-check" type="radio" name="BoolDefaultValue" id="BoolDefaultValue-false" autocomplete="off" v-model="fieldData.BoolDefaultValue" v-bind:value="false">
                                                    <label class="btn btn-secondary" for="BoolDefaultValue-false">No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div v-show="fieldData.Type === customFieldTypeMultiChoice">
                                    <div class="form-group">
                                        <label class="form-label">Options:</label>
                                        <textarea class="form-control" rows="3" placeholder="Seperate options with a semicolon." v-model.trim="fieldData.MultiChoiceOptions"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Default:</label>
                                        <select class="form-select" v-model.trim="fieldData.MultiChoiceDefaultValue" v-bind:disabled="multiChoiceOptions.length === 0">
                                            <option value="" disabled selected>Please choose.</option>
                                            <option v-for="op in multiChoiceOptions" v-bind:value="op">[[op]]</option>
                                        </select>
                                    </div>
                                </div>
                                <section v-show="fieldData.Type === customFieldTypeDate">
                                    <div class="form-group">
                                        <label class="form-label">Days From License Creation:</label>
                                        <input class="form-control" type="number" step="1" v-model.trim="fieldData.DateDefaultIncrement">
                                    </div>
                                </section>
                            </fieldset>
                        </form>

                        <div class="alert mt-3 mb-0" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                            [[msgSave]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-on:click="addOrUpdate" v-bind:disabled="submitting">Save</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end modal to add/view/edit custom field-->

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>