{{$showDevHeader := .Development}}
{{$userData := .InjectedData.UserData}}
{{$licenseID := .InjectedData.Data}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | License - {{$licenseID}}</title>

		{{template "html_head" .}}
	</head>
	<body>
		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container" id="manageLicense">
                <!-- Alert banners. -->
                <div class="row">
                    <div class="col">
                        <!-- alert for expired license, to make it more apparent -->
                        <div v-if="licenseDataRetrieved && licenseData.Expired" v-cloak>
                            <div class="alert alert-warning">
                                This license is expired. It can no longer be downloaded or used.
                            </div>
                        </div>

                        <!-- alert for disabled license, to make it more apparent -->
                        <!-- don't show alert if license was disabled because it was renewed, other alert will explain this. -->
                        <div v-if="licenseDataRetrieved && !licenseData.Active" v-cloak>
                            <div class="alert alert-warning">
                                This license has been disabled<span v-if="licenseData.RenewedToLicenseID !== null"> because it was renewed</span>. It cannot be downloaded. However, previously distributed copies of this license can still be used.
                            </div>
                        </div>

                        <!-- show alert for non-verified license -->
                        <div v-if="licenseDataRetrieved && !licenseData.Verified" v-cloak>
                            <div class="alert alert-danger">
                                This license is not verified and cannot be used. This is a serious error and should be investigated by an administrator.
                            </div>
                        </div>

                        <!-- renewal notices -->
                        <div v-if="licenseDataRetrieved && (licenseData.RenewedFromLicenseID !== null || licenseData.RenewedToLicenseID !== null)" v-cloak>
                            <div class="alert alert-primary">
                                <span v-if="licenseData.RenewedFromLicenseID !== null">This license was renewed from license <a v-bind:href="'?id=' + licenseData.RenewedFromLicenseID">[[licenseData.RenewedFromLicenseID]]</a>.</span>
                                <span v-if="licenseData.RenewedToLicenseID !== null"  >This license was renewed to license <a v-bind:href="'?id=' + licenseData.RenewedToLicenseID">[[licenseData.RenewedToLicenseID]]</a>.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main page content. -->
				<div class="row justify-content-center">
                    <input type="hidden" id="licenseID" value="{{$licenseID}}">

                    <!-- Column for license info; common data, custom fields. -->
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5>License Data</h5>
                                </div>

                                <!-- Download button is located here, not on download history card so that is 
                                is easily accessible on smaller screens when cards are stacked. This is mostly
                                for when page is just loaded/shown since then download button will be in view
                                right away without having to scroll down. -->
                                <div class="card-header-btn">
                                    <a 
                                        class="btn btn-outline-primary btn-sm" 
                                        href="/api/licenses/download/?id={{$licenseID}}"
                                        download
                                        v-if="licenseData.Active"
                                        data-bs-toggle="tooltip"
                                        data-bs-title="Download license."
                                        v-on:click="refreshDownloadHistory"
                                        v-cloak
                                    >
                                        <i class="fas fa-download"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Common info. -->
                                <section>
                                    <dl class="row mb-0">
                                        <dt class="col-sm-4 text-truncate">Public ID:</dt>
                                        <dd class="col-sm-8 font-monospace">[[licenseData.PublicID]]</dd>
                                        <dt class="col-sm-4 text-truncate">App:</dt>
                                        <dd class="col-sm-8">[[licenseData.AppName]]</dd>
                                        <dt class="col-sm-4 text-truncate">Company:</dt>
                                        <dd class="col-sm-8">[[licenseData.CompanyName]]</dd>
                                        <dt class="col-sm-4 text-truncate">Contact:</dt>
                                        <dd class="col-sm-8">[[licenseData.ContactName]]</dd>
                                        <dt class="col-sm-4 text-truncate">Phone Number:</dt>
                                        <dd class="col-sm-8">[[licenseData.PhoneNumber]]</dd>
                                        <dt class="col-sm-4 text-truncate">Email:</dt>
                                        <dd class="col-sm-8">[[licenseData.Email]]</dd>
                                        <dt class="col-sm-4 text-truncate">Expiration Date:</dt>
                                        <dd class="col-sm-8">[[licenseData.ExpireDate]]</dd>
                                        <dt class="col-sm-4 text-truncate">Issue Date:</dt>
                                        <dd class="col-sm-8 whitespace-no-wrap ellipsis">[[licenseData.IssueDateInTZ]]</dd>
                                        <dt class="col-sm-4 text-truncate">Created By:</dt>
                                        <dd class="col-sm-8" v-if="licenseData.CreatedByUserID > 0">[[licenseData.CreatedByUsername]]</dd>
                                        <dd class="col-sm-8" v-else v-cloak                        >API: [[licenseData.CreatedByAPIKeyDescription]]</dd>
                                    </dl>
                                </section>

                                <!-- Custom fields. -->
                                <hr class="divider" v-if="customFieldResults.length > 0" v-cloak>
                                <section>
                                    <dl class="row mb-0">
                                        <template v-for="(f, idx) in customFieldResults">
                                            <!-- truncate field name since this is user provided and could be very long -->
                                            <dt class="col-sm-4 text-truncate">[[f.CustomFieldName]]:</dt>
                                            <dd      v-if="f.CustomFieldType === customFieldTypeInteger"     class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.IntegerValue]]</dd>
                                            <dd v-else-if="f.CustomFieldType === customFieldTypeDecimal"     class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.DecimalValue]]</dd>
                                            <dd v-else-if="f.CustomFieldType === customFieldTypeText"        class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.TextValue]]</dd>
                                            <dd v-else-if="f.CustomFieldType === customFieldTypeBoolean"     class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.BoolValue]]</dd>
                                            <dd v-else-if="f.CustomFieldType === customFieldTypeMultiChoice" class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.MultiChoiceValue]]</dd>
                                            <dd v-else-if="f.CustomFieldType === customFieldTypeDate"        class="col-sm-8" v-bind:data-customfieldresultID="f.ID">[[f.DateValue]]</dd>
                                        </template>
                                    </dl>
                                </section>

                                <!-- Misc. -->
                                <section v-if="showAdvancedInfo" v-cloak>
                                    <hr class="divider">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-4 text-truncate">Datetime Created:</dt>
                                        <dd class="col-sm-8 whitespace-no-wrap ellipsis" v-bind:title="licenseData.DatetimeCreated + ' (UTC)'">[[licenseData.DatetimeCreatedInTZ]]</dd>
                                        <dt class="col-sm-4 text-truncate">File Format:</dt>
                                        <dd class="col-sm-8">[[licenseData.FileFormat.toUpperCase()]]</dd>
                                        <dt class="col-sm-4 text-truncate">Keypair Algo:</dt>
                                        <dd class="col-sm-8">[[licenseData.KeypairAlgo.toLowerCase()]]</dd>
                                        <dt class="col-sm-4 text-truncate">Fingerprint Algo:</dt>
                                        <dd class="col-sm-8">[[licenseData.FingerprintAlgo.toLowerCase()]]</dd>
                                        <dt class="col-sm-4 text-truncate">Encoding Algo:</dt>
                                        <dd class="col-sm-8">[[licenseData.EncodingAlgo.toLowerCase()]]</dd>
                                    </dl>
                                </section>
                            </div>
                            <div class="card-footer" v-if="licenseData.Active && licenseData.Verified && !licenseData.Expired">
                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">Actions</button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" v-on:click="showAdvancedInfo = !showAdvancedInfo">
                                                <span v-if="!showAdvancedInfo">Show Additional Info</span>
                                                <span v-else                  >Hide Additional Info</span>
                                            </button>
                                        </li>
                                        <li><div class="dropdown-divider"></div></li>
                                        
                                        <li>
                                            <a 
                                                class="dropdown-item" 
                                                href="/api/licenses/download/?id={{$licenseID}}&display=true" 
                                                target="_blank"
                                                v-on:click="refreshDownloadHistory"
                                            >View License File</a>
                                        </li>

                                        {{if $userData.CreateLicenses}}
                                        <li><div class="dropdown-divider"></div></li>
                                        <li>
                                            <button 
                                                class="dropdown-item" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modal-disableLicense"
                                            >
                                                Disable
                                            </button>
                                        </li>

                                        <li>
                                            <button 
                                                class="dropdown-item" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#modal-renewLicense"
                                                v-if="licenseData.RenewedToLicenseID === null"
                                            >
                                                Renew
                                            </button>
                                        </li>
                                        {{end}}
                                    </ul>
                                </div> <!-- end .dropdown -->
                            </div> <!-- end .card-footer -->
                        </div> <!-- end .card license data -->
                    </div> <!-- end .col for license data -->

                    <!-- Column for download history & notes. -->
                    <div class="col-12 col-md-6">
                        <!-- Download history. -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Download History <small class="text-secondary" v-if="downloadHistory.length > 0" v-cloak>([[downloadHistory.length]])</small></h5>
                            </div>
                            <div class="card-body">
                                <div class="max-height-500px">
                                    <table class="table table-sm table-hover">
                                        <thead class="no-border-top">
                                            <tr>
                                                <th>Datetime</th>
                                                <th>By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-if="downloadHistory.length === 0">
                                                <tr>
                                                    <td colspan="2">No history exists.</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="h in downloadHistory" v-bind:id="h.ID">
                                                    <td v-bind:title="h.DatetimeCreated + ' (UTC)'">[[h.DatetimeCreatedInTZ]]</td>
                                                    <td>
                                                        <span v-if="h.CreatedByUsername">[[h.CreatedByUsername]]</span>
                                                        <span v-else>API: [[h.CreatedByAPIKeyDescription]]</span>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="alert" v-show="msgHistory.length > 0" v-bind:class="msgHistoryType" v-cloak>
                                    [[msgHistory]]
                                </div>
                            </div>
                        </div> <!-- end .card for download history -->

                        <!-- Notes. -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Notes</h5>

                                {{if $userData.CreateLicenses}}
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal-note" v-on:click="passToNoteModal(undefined)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                {{end}}
                            </div>
                            <div class="card-body">
                                <div class="max-height-500px">
                                    <table class="table table-sm table-hover">
                                        <thead class="no-border-top">
                                            <th>Note</th>
                                        </thead>
                                        <tbody>
                                            <template v-if="notes.length === 0">
                                                <tr>
                                                    <td>No notes exists.</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="n in notes" v-bind:id="n.ID">
                                                    <td>[[n.Note]] <a
                                                        class="btn btn-sm btn-link text-primary"
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#modal-note" 
                                                        v-on:click="passToNoteModal(n)"
                                                    >
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="alert" v-show="msgNotes.length > 0" v-bind:class="msgNotesType" v-cloak>
                                    [[msgNotes]]
                                </div>
                            </div>
                        </div> <!-- end .card for license notes -->
                    </div> <!-- end .col for download history & notes -->

                </div> <!-- end .row -->
            </div> <!-- end .container -->
        </main>

        <!-- 
            Modal for disabling license. 

            Once a license is disabled, it cannot be reenabled. A disabled license 
            can also not be downloaded.
        -->
        {{if $userData.CreateLicenses}}
        <div class="modal fade" id="modal-disableLicense">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <div class="modal-title text-white">
                            <h5>Disable License</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <blockquote class="section-description section-description-danger">
                            <!-- TODO: update text to say something like "license cannot be activated" if this app ever supports license activation. -->
                            <p>A disabled license can no longer be downloaded. This does <i>not</i> prevent previously distributed copies of this license from being used. <span class="text-danger">This cannot be undone.</span></p>
                        </blockquote>
                        <hr class="divider">

                        <form>
                            <fieldset v-bind:disabled="submitting">
                                <div class="form-group">
                                    <label class="form-label">Note:</label>
                                    <textarea class="form-control" v-model.trim="note" rows="4" placeholder="Describe why the license is being disabled."></textarea>
                                </div>
                            </fieldset>
                        </form>

                        <div class="alert mt-3 mb-0" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                            [[msgSave]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-danger" v-on:click="disableLicense" v-bind:disabled="submitting">Disable</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end modal to disable a license -->
        {{end}}

        <!-- modal for adding/viewing a note -->
        {{if $userData.CreateLicenses}}
        <div class="modal fade" id="modal-note">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Note</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <blockquote class="description description-secondary">
                            <p>Add a note to a license for future reference.</p>
                        </blockquote>
                        <hr class="divider">

                        <form>
                            <!-- When adding a note. -->
                            <fieldset v-bind:disabled="submitting" class="mb-3">
                                <div class="form-group">
                                    <label class="form-label">Note:</label>
                                    <textarea class="form-control" v-model.trim="noteData.Note" rows="4" v-bind:disabled="noteData.ID > 0"></textarea>
                                </div>
                            </fieldset>

                            <!-- Extra info when viewing an existing note. -->
                            <fieldset v-if="noteData.ID > 0" disabled>
                                <div class="form-group">
                                    <label class="form-label">Created By:</label>
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        v-if="noteData.CreatedByUsername !== null" 
                                        v-model.trim="noteData.CreatedByUsername"
                                    >
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        v-else 
                                        v-bind:value="'API: ' + noteData.CreatedByAPIKeyDescription"
                                    >
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Created When:</label>
                                    <input class="form-control" type="text" v-bind:title="noteData.DatetimeCreated + ' UTC'" v-model.trim="noteData.DatetimeCreatedInTZ">
                                </div>
                            </fieldset>
                        </form>

                        <div class="alert mt-3 mb-0" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                            [[msgSave]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-if="noteData.ID === 0" v-on:click="add" v-bind:disabled="submitting">Add</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end modal to add a note -->
        {{end}}

        <!-- 
            modal to renew license.
            This will "copy" the existing licenses data but with an updated expiration
            date. This is done since we do not want to modify the expiration data since
            that will cause the signature to be invalid and need to be recalculated.
            Upon success, user will be redirected to new license's page.
        -->
        {{if $userData.CreateLicenses}}
        <div class="modal fade" id="modal-renewLicense">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Renew License</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <blockquote class="description description-secondary">
                            <p>Renew a license to a new expiration date.</p>
                        </blockquote>
                        <hr class="divider">

                        <form>
                            <fieldset v-bind:disabled="submitting">
                                <div class="form-group">
                                    <label clas="form-label">Current Expiration Date:</label>
                                    <input class="form-control" type="date" v-model.trim="currentExpireDate" disabled>
                                </div>
                                <div class="form-group">
                                    <label clas="form-label">New Expiration Date:</label>
                                    <input class="form-control" type="date" v-model.trim="newExpireDate" v-bind:min="minDate">
                                </div>
                            </fieldset>
                        </form>

                        <div class="alert mt-3 mb-0" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                            [[msgSave]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-on:click="renew" v-bind:disabled="submitting">Renew</button>
                            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end modal to renew license -->
        {{end}}

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>