<!DOCTYPE html>
<html>
	<head>
		<title>{{template "html_title_app_name" .}} | Login</title>

		{{template "html_head" .}}
	</head>
	<body>
		<!-- HEADER -->
		{{template "header-without-btns" .}}	

		<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-6 col-lg-4" id="login">

						<div class="card">
							<div class="card-header">
								<h5>Please Log In</h5>
							</div>
							<div class="card-body">
								<form>
									<!-- username and password -->
									<fieldset v-show="!show2FAInput" v-bind:disabled="submitting">
										<div class="form-group">
											<label class="form-label">Username: <small class="text-muted">(An email address.)</small></label>
											<input 
												type="email" 
												class="form-control text-lowercase" 
												id="username" 
												autocomplete="off" 
												v-model="username" 
												v-on:keyup.enter="login"
											>
										</div>
										<div class="form-group">
											<label class="form-label">Password:</label>
											<input 
												type="password" 
												class="form-control" 
												autocomplete="off" 
												v-model="password" 
												v-on:keyup.enter="login"
											>
										</div>
									</fieldset>

									<!-- 2FA -->
									<fieldset v-show="show2FAInput" v-cloak v-bind:disabled="submitting">
										<blockquote class="description description-secondary">
											<p>Please provide your 2 Factor Authentication (2FA) code from your 2FA app.  It is a 6 digit numeric code.</p>
										</blockquote>

										<hr class="divider">
										<div class="form-group">
											<label class="form-label" title="2 Factor Authentication Token">Code:</label>
											<input 
												class="form-control"
												id="token"
												name="2fa-token" 
												type="text" 
												inputmode="numeric" 
												pattern="[0-9]{6}" 
												maxlength="6" 
												placeholder="123456" 
												autocomplete="off"
												v-model.trim="twoFAVerificationCode" 
												v-on:keyup.enter="login"
											>
										</div>
									</fieldset>
								</form>
								
								<div class="alert mt-3 mb-0" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
									[[msg]]
								</div>
							</div>
							<div class="card-footer">
								<button class="btn btn-primary" type="button" v-on:click="login" v-bind:disabled="submitting">Log In</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>