{{$showDevHeader := .Development}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | Administrative Tools</title>
        
        {{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !!</p>
		{{end}}

		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container">

                <div class="row">
                    <div class="col">
                        <div class="alert alert-warning">
                            <b>Caution!</b> These tools only have very basic validation and are thus very powerful. Make sure you know what you are doing!
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- link to diagnostics page -->
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5>Diagnostics</h5>
                            </div>
                            <div class="card-body">
                                <blockquote class="section-description section-description-secondary">
                                    Show low-level data about the app, database, and license to help resolve issues.  Opens a new page.
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="/diagnostics/">Go</a>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/diagnostics/?format=text">Plain Text</a>
                                        <a class="dropdown-item" href="/diagnostics/?format=json">JSON</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- clear activity log -->
                    <div class="col-12 col-md-4">
                        <div class="card" id="toolsClearActivityLog">
                            <div class="card-header">
                                <h5>Activity Log</h5>
                            </div>
                            <div class="card-body">
                                <blockquote class="section-description section-description-secondary">
                                    Clear old activities from the activity log.  This is used to remove old entries from the activity log since the log can get large quickly and impact performance.
                                </blockquote>
                                <hr class="divider">
                                
                                <section>
                                    <div class="form-group">
                                        <label>Prior To:</label>
                                        <input class="form-control" type="date" v-model.trim="priorToDate">
                                    </div>
                                </section>
                                <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="button" v-on:click="clear">Clear</button>
                            </div>
                        </div>
                    </div>

                    <!-- clear old user logins -->
                    <div class="col-12 col-md-4">
                        <div class="card" id="toolsClearLogins">
                            <div class="card-header">
                                <h5>User Logins</h5>
                            </div>
                            <div class="card-body">
                                <blockquote class="section-description section-description-secondary">
                                    Clear the user login history. This is used to remove user login history since the list of logins can get large and impact performance.
                                </blockquote>
                                <hr class="divider">
                                
                                <section>
                                    <div class="form-group">
                                        <label>Prior To:</label>
                                        <input class="form-control" type="date" v-model.trim="priorToDate">
                                    </div>
                                </section>

                                <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="button" v-on:click="clear">Clear</button>
                            </div>
                        </div>
                    </div>

                </div> <!-- end .row -->
			</div>
        </main>
        
		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>