{{$showDevHeader := .Development}}
{{$appSettings:= .InjectedData.AppSettings}}
{{$minPasswordLength := .InjectedData.Data.MinPasswordLength}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | User Profile</title>

		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !! </p>
		{{end}}

		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container">
				<div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6" id="userProfile">
                        
                        <!-- hidden input to relay min length into Vue for validation -->
                        <input type="hidden" id="minPasswordLength" value="{{$minPasswordLength}}">

                        <!-- add/edit inputs are shown when user is viewing/editing or adding -->
                        <div class="card">
                            <div class="card-header">
                                <h5>User Profile</h5>
                            </div>
                            <div class="card-body"> 
                                <!-- basics, password, 2fa, logout -->
                                <section>
                                    <!-- basics -->
                                    <div class="form-group">
                                        <label>Username: <small class="text-muted">(An email address.)</small></label>
                                        <input type="email" class="form-control text-lowercase" v-model="userData.Username" readonly>
                                    </div>
                                </section>
                                <hr class="divider">

                                <section>
                                    <!-- password, 2fa, force logout -->
                                    <div class="form-group">
                                        <button 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-changePassword"
                                            v-on:click="resetChangePasswordModal"
                                        >Change Password</button>
                                    </div>

                                    {{if $appSettings.Allow2FactorAuth}}
                                    <!-- show certain 2fa button/modal based on if user currently has 2fa enabled and if app setting enables 2fa -->
                                    <div class="form-group">
                                        <button 
                                            v-if="userData.TwoFactorAuthEnabled" 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-deactivate2FA"
                                            v-cloak
                                        >
                                            Deactivate 2 Factor Auth.
                                        </button>
                                        <button 
                                            v-else 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-activate2FA"
                                            v-on:click="reset2FAActivationModal"
                                            v-cloak
                                        >
                                            Activate 2 Factor Auth.
                                        </button>
                                    </div>
                                        {{if $appSettings.Force2FactorAuth}}
                                            <div class="alert alert-warning" v-if="userDataRetrieved && !userData.TwoFactorAuthEnabled" v-cloak>
                                                <b>Warning!</b> Two Factor Authentication is required. If you do not activate 2FA now, you will lose access to this app until an administrator activates 2FA for you. 
                                            </div>
                                        {{end}}
                                    {{end}}
                                </section>
                                
                                <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                            </div> <!-- end .card-body-->
                        </div> <!-- end .card -->

                    </div>
				</div>
			</div>
        </main>
        
        <!-- modal to change a user's password -->
        <div class="modal fade" id="modal-changePassword">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Password: <small class="text-secondary">(Min. {{$minPasswordLength}} characters.)</small></label>
                                <input type="password" class="form-control" minlength="{{$minPasswordLength}}" v-model="password1">
                            </div>
                            <div class="form-group">
                                <label>Password, again:</label>
                                <input type="password" class="form-control" minlength="{{$minPasswordLength}}" v-model="password2">
                            </div>
                        </form>
                    
                        <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                            [[msg]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-on:click="save">Save</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- activate 2 factor auth, show user qr code to scan and input for verification token -->
        <div class="modal fade" id="modal-activate2FA">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Activate 2 Factor Authentication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section v-if="show2FAInfoOnly">
                            <blockquote class="section-description section-description-secondary">
                                2 Factor Authentication (2FA) provides a secondary level of login security. It requires you to provide a 1-time code during login generated via a code generator app (ex.: Auth) on your phone.  You will need to provide a code each time you login to the app.
                            </blockquote>
                        </section>
                        
                        <section v-else v-cloak>
                            <blockquote class="section-description section-description-secondary">
                                To start using 2 Factor Authentication, open your authentication app (i.e.: Authy) and scan the barcode below. Then provide the 6-digit code for verification.
                            </blockquote>
                            <hr class="divider">

                            <div class="form-group">
                                <label>Code to Scan:</label>
                                <img 
                                    v-if="twoFABarcode !== ''"
                                    v-bind:src="'data:image/png;base64,' + twoFABarcode"
                                    style="max-height:100%; max-width:100%; display:block; margin:0 auto;"
                                >
                            </div>
                            <div class="form-group">
                                <label>Verification Code:</label>
                                <input 
                                    class="form-control" 
                                    id="2fa-token" 
                                    name="2fa-token" 
                                    type="text" 
                                    inputmode="numeric" 
                                    pattern="[0-9]{6}" 
                                    maxlength="6" 
                                    placeholder="123456"
                                    v-model.trim="twoFAVerificationCode"
                                    autocomplete="off"
                                    v-bind:disabled="submitting"
                                    v-on:keyup.enter="validate"
                                >
                            </div>
                            
                            <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                [[msg]]
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-if="show2FAInfoOnly" v-on:click="getBarcode">Proceed</button>
                            <button class="btn btn-primary" v-else                 v-on:click="validate" v-bind:disabled="submitting">Validate</button>
                            
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- deactivate 2 factor auth, just show a confirmation modal -->
        <div class="modal fade" id="modal-deactivate2FA">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deactivate 2 Factor Authentication</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <blockquote class="section-description section-description-secondary">
                            Please confirm you want to deactivate 2FA for this user. Having 2FA enabled increase security for user logins.
                        </blockquote>
                        
                        <div class="mt-3 alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                            [[msg]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <button class="btn btn-primary" v-on:click="deactivate" v-bind:disabled="submitting">Deactivate</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		{{template "footer"}}
		{{template "html_scripts" .}}
        {{template "data-toggle-tooltip"}}
	</body>
</html>