{{$showDevHeader := .Development}}
{{$data := .InjectedData.Data}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | User Logins</title>

		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !!</p>
		{{end}}

		<!-- HEADER -->
        {{template "header-with-btns" .}}
        
		<main>
			<div class="container">
				<div class="row">
                   <div class="col">
                        <div class="card" id="userLogins">
                            <div class="card-header">
                                <h5>User Logins</h5>
                                <div class="card-header-btn">
									<button class="btn btn-outline-primary btn-sm" v-on:click="showHelp = !showHelp"><i class="fas fa-question"></i></button>
								</div>
                            </div>
                            <div class="card-body">
                                <div v-show="showHelp" v-cloak>
									<div class="alert alert-primary">
                                        This table shows the log of users who have logged into this app with some associated data.  You can filter results by user.  First, find the user's ID on the Users page.  Then open this page and replace the <code>x</code> in <code>?userID=x</code> in the URL with the user's ID.
									</div>
									<br>	
								</div>
                                
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm table-dense-always">
                                        <thead class="no-border-top">
                                            <th class="whitespace-no-wrap">
                                                Datetime 
                                                {{if gt (len $data) 0}}
                                                {{with index $data 0}}
                                                    <small class="text-secondary">({{.Timezone}})</small>
                                                {{end}}
                                                {{end}}
                                            </th>
                                            <th>User</th>
                                            <th title="If a 2FA token was provided.">2FA</th>
                                            <th class="whitespace-no-wrap">IP Address</th>
                                            <th>User Agent</th>
                                        </thead>
                                        <tbody>
                                            {{range $data}}
                                            <tr data-login-history-id="{{.ID}}">
                                                <td class="datetime whitespace-no-wrap"><span title="{{.DatetimeCreated}} (UTC)">{{.DatetimeCreatedTZ}}</span></td>
                                                <td><span title="{{.UserID}}">{{.Username}}</span></td>
                                                <td>{{if .TwoFATokenProvided}}Y{{end}}</td>
                                                <td class="whitespace-no-wrap">{{.RemoteIP}}</td>
                                                <td class="whitespace-no-wrap">{{.UserAgent}}</td>
                                            </tr>
                                            {{else}}
                                            <tr>
                                                <td colspan="6">No data exists for this user id.</td>
                                            </tr>
                                            {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>                   
			</div>
		</main>

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>