{{$showDevHeader := .Development}}
{{$appSettings:= .InjectedData.AppSettings}}
{{$minPasswordLength := .InjectedData.Data.MinPasswordLength}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | User Profile</title>

		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !! </p>
		{{end}}

		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container">
				<div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-xl-6" id="userProfile">
                        
                        <!-- hidden input to relay min length into Vue for validation -->
                        <input type="hidden" id="minPasswordLength" value="{{$minPasswordLength}}">

                        <!-- add/edit inputs are shown when user is viewing/editing or adding -->
                        <div class="card">
                            <div class="card-header">
                                <h5>User Profile</h5>
                            </div>
                            <div class="card-body"> 
                                <!-- basics, password, 2fa, logout -->
                                <section>
                                    <!-- basics -->
                                    <div class="form-group">
                                        <label>Username: <small class="text-muted">(An email address.)</small></label>
                                        <input type="email" class="form-control text-lowercase" v-model="userData.Username" readonly>
                                    </div>
                                </section>
                                <hr class="divider">

                                <section>
                                    <!-- password, 2fa, force logout -->
                                    <div class="form-group">
                                        <button 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-changePassword"
                                            v-on:click="resetChangePasswordModal"
                                        >Change Password</button>
                                    </div>

                                    {{if $appSettings.Allow2FactorAuth}}
                                    <!-- show certain 2fa button/modal based on if user currently has 2fa enabled and if app setting enables 2fa -->
                                    <div class="form-group">
                                        <button 
                                            v-if="userData.TwoFactorAuthEnabled" 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-deactivate2FA"
                                            v-cloak
                                        >
                                            Deactivate 2 Factor Auth.
                                        </button>
                                        <button 
                                            v-else 
                                            class="btn btn-outline-secondary btn-block" 
                                            data-toggle="modal" 
                                            data-target="#modal-activate2FA"
                                            v-on:click="reset2FAActivationModal"
                                            v-cloak
                                        >
                                            Activate 2 Factor Auth.
                                        </button>
                                    </div>
                                        {{if $appSettings.Force2FactorAuth}}
                                            <div class="alert alert-warning" v-if="userDataRetrieved && !userData.TwoFactorAuthEnabled" v-cloak>
                                                <b>Warning!</b> Two Factor Authentication is required. If you do not activate 2FA now, you will lose access to this app until an administrator activates 2FA for you. 
                                            </div>
                                        {{end}}
                                    {{end}}
                                </section>
                                
                                <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                            </div> <!-- end .card-body-->
                        </div> <!-- end .card -->

                    </div>
				</div>
			</div>
        </main>
        
        <!-- modal to change a user's password -->
        {{template "user-change-password-modal" .}}

        <!-- activate 2 factor auth, show user qr code to scan and input for verification token -->
        {{template "user-activate-2fa-modal" .}}

        <!-- deactivate 2 factor auth, just show a confirmation modal -->
        {{template "user-deactivate-2fa-modal" .}}

        
		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>