{{$showDevHeader := .Development}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | API Key Management</title>

		{{template "html_head" .}}
	</head>
	<body>
		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container">
				<div class="row justify-content-center">
                   <div class="col-12 col-lg-8" id="manageAPIKeys">

                        <!-- lookup an API key, only shown when viewing/editing -->
                        <div class="card" v-if="!addingNew" v-cloak>
                            <div class="card-header">
                                <h5>API Keys</h5>
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" v-on:click="setUIState">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Key:</label>
                                    <select class="form-select" v-model.number="apiKeySelectedID" v-on:change="showAPIKey">
                                        <option v-if="!keysRetrieved">Loading...</option>
                                        <template v-else>
                                            <option value="0" disabled>Please choose.</option>
                                            <option v-for="(i, index) in keys" :key="index" v-bind:value="i.ID">[[i.Description]] <span v-if="!i.Active">(inactive)</span></option>
                                        </template>
                                    </select>
                                </div>
                                <div class="alert" v-show="msgLoad.length > 0" v-bind:class="msgLoadType" v-cloak>
                                    [[msgLoad]]
                                </div>
                            </div>
                        </div> <!-- end .card for looking up -->

                        <!-- add/edit inputs are shown when user is viewing/editing or adding -->
                        <div class="card" v-if="apiKeySelectedID > 0 || addingNew" v-cloak>
                            <div class="card-header">
                                <h5>[[addEditCardTitle]]</h5>
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" v-if="addingNew" v-on:click="setUIState">
                                        <i class="fas fa-search" v-cloak></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Always shown; adding or viewing/editing. -->
                                <section>
                                    <div class="form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" minlength="3" maxlength="100" v-model.trim="keyData.Description" v-bind:readonly="keyData.ID > 0">
                                    </div>
                                </section>

                                <!-- Only shown when viewing/editing, aka after key has been generated. -->
                                <section v-if="keyData.K !== '' && keyData.K !== undefined">
                                    <hr class="divider">

                                    <div class="form-group">
                                        <label>Key:</label>
                                        <input type="text" class="form-control text-monospace" v-model="keyData.K" readonly>
                                    </div>

                                </section>
                                
                                <!-- 
                                    API key permissions. 
                                    - Settable when creating an API key.
                                    - Only viewable after an API key has been created.
                                -->
                                <section></section>

                                <div class="alert" v-show="msgSave.length > 0" v-bind:class="msgSaveType" v-cloak>
                                    [[msgSave]]
                                </div>
                            </div> <!-- end .card-body-->
                            <div class="card-footer">
                                <template v-if="addingNew">
                                    <button 
                                        class="btn btn-primary" 
                                        type="button" 
                                        v-on:click="createKey" 
                                        v-bind:disabled="submitting"
                                    >
                                        Create
                                    </button>
                                </template>
                                <template v-else>
                                    <div class="btn-group">
                                        <!-- There is no use for the Save button right now. -->
                                        <!--
                                        <button 
                                            class="btn btn-primary" 
                                            type="button" 
                                            v-on:click="update"
                                            v-bind:disabled="submitting || showRevokeConfirm"
                                        >
                                            Save
                                        </button>
                                        -->
                                        
                                        <button 
                                            class="btn btn-outline-danger" 
                                            type="button" 
                                            v-on:click="handleRevokeConfirm()"
                                            v-bind:disabled="showRevokeConfirm"
                                        >
                                            Revoke
                                        </button>
                                        <button 
                                            v-if="showRevokeConfirm" 
                                            class="btn btn-danger" 
                                            type="button" 
                                            v-on:click="revoke"
                                        >
                                            Confirm
                                        </button>
                                    </div>
                                </template>
                            </div> <!-- end .card-footer -->
                        </div> <!-- end .card for viewing/editing/adding-->

                    </div>
                </div>
            </div>
        </main>

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>