{{$showDevHeader := .Development}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | API Key Management</title>

		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !! </p>
		{{end}}

		<!-- HEADER -->
		{{template "header-with-btns" .}}

		<main>
			<div class="container">
				<div class="row">
                   <div class="col">
                        <div class="card" id="manageAPIKeys">
                            <div class="card-header">
                                <h5>API Keys</h5>
                                <div class="card-header-btn">
                                    <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-apiKey" v-on:click="passToModal(undefined)"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-sm table-dense">
                                    <thead class="no-border-top">
                                        <th>Description</th>
                                        <th class="d-none d-lg-table-cell whitespace-no-wrap">Datetime Created</th>
                                        <th class="whitespace-no-wrap ellipsis">Key</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr v-if="keysRetrieved && keys.length === 0">
                                            <td colspan="10">No API keys exist yet.</td>
                                        </tr>
                                        <template v-else>
                                            <tr v-for="k in keys" :key="k.ID" v-bind:data-id="k.ID">
                                                <td>[[k.Description]]</td>
                                                <td class="d-none d-lg-table-cell whitespace-no-wrap"><span v-bind:title="k.DatetimeCreatedUTC + ' UTC'">[[k.DatetimeCreated]]</span></td>
                                                <td class="text-monospace">[[k.K.substring(0,9)]]...[[k.K.substring(k.K.length-5, k.K.length)]]</td>
                                                <td class="text-right">
                                                    <button 
                                                        class="btn btn-link btn-sm btn-sm-condensed text-primary" 
                                                        data-toggle="modal"
                                                        data-target="#modal-apiKey"
                                                        v-on:click="passToModal(k)"
                                                    >
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                [[msg]]
                            </div>
                        </div>
                    </div>
				</div>                   
			</div>
        </main>
        
        <!-- Modal to add/generate or edit/view an API key. -->
        <div class="modal fade" id="modal-apiKey">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">API Key</h5>
                        <button 
                            type="button" 
                            class="btn btn-sm btn-outline-danger" 
                            v-on:click="revoke"
                            v-if="key.ID > 0 && !addingNew"
                        >
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <blockquote class="section-description section-description-secondary">
                            Provide a descriptive name for where this API key will be used so you can identify it in logs.
                        </blockquote>
                        <hr class="divider">

                        <!-- Gather info to generate API key with, describe app where API key will be used. -->
                        <section>
                            <div class="form-group">
                                <label>Description:</label>
                                <input type="text" class="form-control" minlength="3" maxlength="100" v-model.trim="key.Description">
                            </div>
                        </section>

                        <!-- Display generated API key to copy. -->
                        <section v-if="key.K !== ''">
                            <div class="form-group">
                                <label>Key:</label>
                                <input type="text" class="form-control text-monospace" readonly v-model="key.K">
                            </div>
                        </section>

                        <!-- Extra data about an existing key. -->
                        <section v-if="!addingNew">
                            <div class="form-group">
                                <label>Created By:</label>
                                <input type="text" class="form-control" v-model.trim="key.CreatedByUsername" readonly>
                            </div>
                            <div class="form-group">
                                <label>Datetime Created <small class="text-secondary">([[key.Timezone]])</small>:</label>
                                <input type="text" class="form-control" v-model.trim="key.DatetimeCreatedTZ" v-bind:title="key.DatetimeCreated + ' UTC'" readonly>
                            </div>
                        </section>

                        <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                            [[msg]]
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <div class="btn-group">
                            <!-- 
                                Don't show generate button once a description for a 
                                new API key has been generated or if an existing key 
                                is being viewed.
                            -->
                            <button class="btn btn-primary" v-on:click="generate" v-bind:disabled="submitting" v-if="key.K === ''" v-cloak>Generate</button>
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		{{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>