<!DOCTYPE html>
<html>

<head>
    <title>{{template "html_title_app_name" .}} | User Logins</title>

    {{template "html_head" .}}
</head>

<body>
    <!-- HEADER -->
    {{template "header-with-btns" .}}

    <main>
        <div class="container" id="userLogins">
            <div class="row">
                <div class="col">

                    <!-- filters -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Filters</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <fieldset>
                                    <div class="row">
                                        <!-- left column -->
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="form-label col-sm-6">User:</label>
                                                    <div class="col-sm-6 d-flex justify-content-end align-items-start">
                                                        <select class="form-select" v-model.number="userID" v-bind:disabled="apiKeyID > 0">
                                                            <option value="0">All users.</option>
                                                            <template v-if="usersRetrieved">
                                                                <option v-for="u in users" :key="u.ID" v-bind:value="u.ID">[[u.Username]]</option>
                                                            </template>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end left column -->

                                        <!-- right column -->
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <label class="form-label col-sm-6">Max Rows Returned:</label>
                                                    <div class="col-sm-6 d-flex justify-content-end align-items-start">
                                                        <input class="form-control" type="number" min="1" step="1" v-model.number="rows">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>

                            <div class="alert mt-3 mb-0" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                [[msg]]
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="button" v-on:click="getLogins" v-bind:disabled="submitting">Filter</button>
                        </div>
                    </div> <!-- end .card for filters-->

                    <!-- results -->
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                User Logins
                                <small 
                                        v-if="loginsRetrieved"
                                        class="text-secondary" 
                                        v-cloak
                                    >
                                        ([[logins.length]] rows)
                                    </small>
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-sm table-dense-always">
                                    <thead class="no-border-top">
                                        <th class="whitespace-no-wrap">Datetime</th>
                                        <th>User</th>
                                        <th><span class="pointer" data-bs-toggle="tooltip" data-bs-title="If a 2FA token was provided.">2FA</span></th>
                                        <th>IP Address</th>
                                        <th>User Agent</th>
                                    </thead>
                                    <tbody>
                                        <tr v-if="loginsRetrieved === false">
                                            <td colspan="5">User login history not retrieved yet.</td>
                                        </tr>
                                        <tr v-else-if="logins.length === 0">
                                            <td colspan="5">No logins retrieved.</td>
                                        </tr>
                                        <template v-else>
                                            <tr v-for="l in logins" v-bind:data-loginid="l.ID">
                                                <td class="datetime whitespace-no-wrap"><span
                                                        v-bind:title="l.DatetimeCreated + ' UTC'">[[l.DatetimeCreatedInTZ]]</span>
                                                </td>
                                                <td>[[l.Username]]</td>
                                                <td class="text-center"><span v-if="l.TwoFATokenProvided" class="text-success fas fa-check"></span></td>
                                                <td class="whitespace-no-wrap">[[l.RemoteIP]]</td>
                                                <td class="whitespace-no-wrap">[[l.UserAgent]]</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end .card for results -->

                </div>
            </div>
        </div>
    </main>

    {{template "footer"}}
    {{template "html_scripts" .}}
</body>

</html>