{{define "user-change-password-modal"}}

{{$minPasswordLength := .InjectedData.Data.MinPasswordLength}}

<div class="modal fade" id="modal-changePassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset v-bind:disabled="submitting">
                        <div class="form-group">
                            <label class="form-label">Password: <small class="text-secondary">(Min. {{$minPasswordLength}} characters.)</small></label>
                            <input class="form-control" type="password" minlength="{{$minPasswordLength}}" v-model="password1">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password, again:</label>
                            <input class="form-control" type="password" minlength="{{$minPasswordLength}}" v-model="password2">
                        </div>
                    </fieldset>
                </form>
            
                <div class="alert mt-3 mb-0" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                    [[msg]]
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="btn-group">
                    <button class="btn btn-primary"   type="button" v-on:click="save" v-bind:disabled="submitting">Save</button>
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}