{{define "footer"}}
<!-- footer will be, at minimum, located at the bottom of the window -->
<!-- not using mt-3 to match header mb-3 since we need to know footer height/margin height for sticky footer calculations -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <a href="/app/">App</a> &bull; <a href="/help/">Help</a><!-- &bull; <a href="/about/">About</a> &bull; <a href="/terms/">Terms</a> -->
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <!-- <a href="#">&copy; 2023 - <span id="footer-end-year"></span> Droplet Labs</a> -->
                    &copy; 2023 - <span id="footer-end-year"></span> Droplet Labs
                </p>
            </div>
        </div>
    </div>

    <script>
        var d = new Date();
        var y = d.getFullYear();
        document.getElementById("footer-end-year").innerHTML = y;
    
    </script>
</footer>
{{end}}