{{/*USED ON NON-LOGGED IN PAGES (LOGIN PAGE)*/}}
{{define "header-without-btns"}}

<!-- Extra header so that we know we are in development. -->
{{if .Development}}
<p class="text-center text-danger">!! DEV MODE !!</p>
{{end}}

<header class="page-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<h4 id="header-title">
					{{template "html_title_app_name" .}}
				</h4>
			</div>
		</div>
	</div>
</header>
{{end}}



{{/*USED ON LOGGED IN PAGES*/}}
{{define "header-with-btns"}}
{{$userData := .InjectedData.UserData}}

<!-- Extra header so that we know we are in development. -->
{{if .Development}}
<p class="text-center text-danger">!! DEV MODE !!</p>
{{end}}

<header class="page-header" id="headerWithBtns">
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<h4 id="app-name">{{template "html_title_app_name" .}}</h4>
            </div>
            <div class="col">
				<div class="d-flex flex-row-reverse">
					<div class="btn-group">
						<!-- Return to main app page. -->
						<a class="btn btn-outline-secondary btn-sm" href="/app/"><i class="fas fa-home"></i></a>

						<!-- Dropdown for user-related navigation.-->
						<div class="btn-group">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">Menu</button>
							<ul class="dropdown-menu dropdown-menu-end">
								<li><h6 class="dropdown-header">{{$userData.Username}}</h6></li>
								<li><a class="dropdown-item" href="/app/user-profile/">My Profile</a></li>
								<li><a class="dropdown-item" href="/logout/">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{{end}}
