{{define "html_scripts"}}
    <!-- Our JS -->
    <!--
        Our JS file has Vue and Bootstrap bundled into it. These third party libraries
        are retrieved from NPM. Thereforce Vue and Bootstrap are always served from
        local files.
    -->
    {{if .Development}}
    <script type="module" src="/static/js/dist/licensekeys.bundle.js"></script>
    {{else}}
    <script type="module" src='{{static "/static/js/dist/licensekeys.bundle.min.js"}}'></script>
    {{end}}
    
{{end}}

<!-- bootstrap tooltips are only activated on pages that need them -->
{{define "data-toggle-tooltip"}}
    <script>
        window.addEventListener("load", function(event) {
            $('[data-toggle="tooltip"]').tooltip();
            // console.log("Activating tooltips (onload)...");
        });
    </script>
{{end}}

<!-- charting scripts -->
<!-- this needs to be added to templates prior to html_scripts-->
<!-- this is split out from other script since these are only loaded on pages with charts -->
{{define "chart-js"}}
    {{if .UseLocalFiles}}
        <script src='{{static "/static/js/vendor/moment-2.29.4.min.js"}}'></script>

        <script src='{{static "/static/js/vendor/chart-3.9.1.min.js"}}'></script>

        <script src='{{static "/static/js/vendor/chartjs-adapter-moment-1.0.1.min.js"}}'></script>
        <script src='{{static "/static/js/vendor/chartjs-plugin-annotation-1.4.0.min.js"}}'></script>

    {{else}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- integrity broken for v.29.4 vs cdnjs? -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-adapter-moment/1.0.1/chartjs-adapter-moment.min.js" integrity="sha512-hVy4KxCKgnXi2ok7rlnlPma4JHXI1VPQeempoaclV1GwRHrDeaiuS1pI6DVldaj5oh6Opy2XJ2CTljQLPkaMrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.4.0/chartjs-plugin-annotation.min.js" integrity="sha512-HrwQrg8S/xLPE6Qwe7XOghA/FOxX+tuVF4TxbvS73/zKJSs/b1gVl/P4MsdfTFWYFYg/ISVNYIINcg35Xvr6QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{end}}
{{end}}
