{{define "html_title_app_name" -}}
    {{if .Development}}**DEV** {{end}}License Keys
{{- end}}

{{define "html_head"}}
    <title>{{template "html_title_app_name"}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="github.com/c9845">
    <meta name="description" content="Create license keys/files for software applications.">

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon"      sizes="180x180" href='{{static "/static/img/apple-touch-icon.png" }}'>
    <link rel="icon" type="image/png" sizes="32x32"   href='{{static "/static/img/favicon-32x32.png" }}'>
    <link rel="icon" type="image/png" sizes="16x16"   href='{{static "/static/img/favicon-16x16.png" }}'>

    <!-- 
        Serve files from local disk or internet CDN.

        Serving files from local disk is useful for installs that have internet access 
        firewalled off, internet access is slow, network is air-gapped, you just want 
        to use known good files (no auto updates), or you just want to serve files
        locally.
    -->
    {{if .UseLocalFiles}}
        <link rel="stylesheet" href='{{static "/static/css/vendor/bootstrap-4.6.2.min.css"}}'>
        <link rel="stylesheet" href='{{static "/static/css/vendor/fontawesome-6.2.1.min.css"}}'>
    {{else}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{end}}

    <!-- Our custom CSS -->
    {{if .Development}}
        <link rel="stylesheet" href="/static/css/styles.css">
    {{else}}
        <link rel="stylesheet" href='{{static "/static/css/styles.min.css"}}'>
    {{end}}

    
{{end}}