{{define "html_title_app_name" -}}
    {{if .Development}}**DEV** {{end}}License Keys
{{- end}}

{{define "html_head"}}
    <title>{{template "html_title_app_name"}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="github.com/c9845">
    <meta name="description" content="Create license keys/files for software applications.">

    <!-- 
        Serve files from local disk.
        This is useful for installs that have internet access firewalled off, internet access is 
        slow, you want to use known good files (no auto updates), or you just want to serve files
        locally.
    -->
    {{if .UseLocalFiles}}
        <link rel="stylesheet" href="/static/css/vendor/bootstrap-4.6.2.min.css">
        <link rel="stylesheet" href="/static/css/vendor/fontawesome-6.1.2.min.css">

    <!--
        Serve files from internet.
        Good for using the latest libraries.
    -->  
    {{else}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{end}}

    <!-- our custom CSS -->
    {{if .Development}}
        <link rel="stylesheet" href="/static/css/styles.css">
    {{else}}
        {{$minifiedFile := "styles.min.css"}}
        {{$cache := .CacheBustFiles}}
        {{with index $cache $minifiedFile}}
            <link rel="stylesheet" href="/static/css/{{.}}">
        {{else}}
            <link rel="stylesheet" href="/static/css/{{$minifiedFile}}">
        {{end}}
    {{end}}
{{end}}