{{$showDevHeader := .Development}}

<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | Activity Log</title>

		{{template "html_head" .}}
	</head>
	<body>
		{{if $showDevHeader}}
			<p class="text-center text-danger">!! DEV MODE !! </p>
		{{end}}

		<!-- HEADER -->
        {{template "header-with-btns" .}}

		<main>
			<div class="container" id="activityLog">
                <div class="row">
                    <div class="col">

                        <!-- filters -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Filters</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group side-by-side">
                                            <label>User:</label>
                                            <select 
                                                class="form-control" 
                                                v-model.number="userID" 
                                                v-bind:disabled="apiKeyID > 0"
                                            >
                                                <option value="0">All users.</option>
                                                <template v-if="usersRetrieved">
                                                    <option v-for="u in users" :key="u.ID" v-bind:value="u.ID">[[u.Username]]</option>
                                                </template>
                                            </select>
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>API Key:</label>
                                            <select 
                                                class="form-control" 
                                                v-model.number="apiKeyID" 
                                                v-bind:disabled="userID > 0"
                                            >
                                                <option value="0">All API Keys.</option>
                                                <template v-if="apiKeysRetrieved">
                                                    <option v-for="a in apiKeys" :key="a.ID" v-bind:value="a.ID">[[a.Description]]</option>
                                                </template>
                                            </select>
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>URL:</label>
                                            <select class="form-control" v-model.trim="endpoint">
                                                <option value="">All URLs.</option>
                                                <template v-if="endpointsRetrieved">
                                                    <!-- this mess of <template>s and v-if is to limit what endpoints are shown to be chosen from based on looking up for a user or API key -->
                                                    <template v-for="e in endpoints">
                                                        <template v-if="userID > 0">
                                                            <option v-if="!e.includes('api/v1')" v-bind:value="e">[[e]]</option>
                                                        </template>
                                                        <template v-else-if="apiKeyID > 0">
                                                            <option v-if="e.includes('api/v1')" v-bind:value="e">[[e]]</option>
                                                        </template>
                                                        <template v-else>
                                                            <option v-bind:value="e">[[e]]</option>
                                                        </template>
                                                    </template>
                                                </template>
                                            </select>
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>
                                                Search For: 
                                                <span 
                                                    class="help-icon  fas fa-circle-question" 
                                                    data-toggle="tooltip" 
                                                    title="Search for content in request data.">
                                                </span>
                                            </label>
                                            <input class="form-control" type="text" v-model.trim="searchFor">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group side-by-side">
                                            <label>Start Date:</label>
                                            <input type="date" class="form-control" v-model.trim="startDate">
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>End Date:</label>
                                            <input type="date" class="form-control" v-model.trim="endDate">
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>
                                                Max Rows Returned:
                                                <span 
                                                    class="help-icon fas fa-circle-question" 
                                                    data-toggle="tooltip" 
                                                    title="Ignored when a date range is provided.">
                                                </span>
                                            </label>
                                            <input class="form-control" type="number" min="0" step="1" v-model.number="rows">
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>Pretty Print:</label>
                                            <div class="btn-group btn-group-toggle" id="prettyPrintJSON" data-toggle="buttons">
                                                <label class="btn btn-secondary" data-switch="true">
                                                    <input type="radio" v-on:click="setPrettyPrint(true)">Yes
                                                </label>
                                                <label class="btn btn-secondary" data-switch="false">
                                                    <input type="radio" v-on:click="setPrettyPrint(false)">No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group side-by-side">
                                            <label>Show Referrer:</label>
                                            <div class="btn-group btn-group-toggle" id="showReferrer" data-toggle="buttons">
                                                <label class="btn btn-secondary" data-switch="true">
                                                    <input type="radio" v-on:click="setShowReferrer(true)">Yes
                                                </label>
                                                <label class="btn btn-secondary" data-switch="false">
                                                    <input type="radio" v-on:click="setShowReferrer(false)">No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-primary" type="button" v-on:click="getActivities" v-bind:disabled="submitting">Filter</button>
                            </div>
                        </div> <!-- end .card for filters -->

                        <!-- results -->
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    Activity Log
                                    <small 
                                        v-if="activitiesRetrieved"
                                        class="text-secondary" 
                                        v-cloak
                                    >
                                        ([[activities.length]] rows)
                                    </small>
                                </h5>
                                <div class="card-header-btn">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown">Charts </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/app/administration/activity-log/activity-over-time-of-day/">Activity Over Time of Day</i></a>
                                            <a class="dropdown-item" href="/app/administration/activity-log/max-and-avg-duration-by-month/">Max & Avg. Duration of Requests by Month</i></a>
                                            <a class="dropdown-item" href="/app/administration/activity-log/duration-of-latest-requests/">Duration of Latest Requests</i></a>
                                            <a class="dropdown-item" href="/app/administration/activity-log/duration-by-endpoint/">Duration By Endpoint</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm table-dense-always">
                                        <thead class="no-border-top">
                                            <th class="whitespace-no-wrap">Datetime</th>
                                            <th>User/API Key</th>
                                            <th>Method</th>
                                            <th>URL And Request Data</th>
                                        </thead>
                                        <tbody>
                                            <tr v-if="activitiesRetrieved === false">
                                                <td colspan="10">Activites not retrieved yet.</td>
                                            </tr>
                                            <tr v-else-if="activitiesRetrieved && activities.length === 0">
                                                <td colspan="10">No data retrieved.</td>
                                            </tr>
                                            <template v-else>
                                                <tr v-for="a in activities" v-bind:data-activityid="a.ID">
                                                    <td class="datetime whitespace-no-wrap"><span v-bind:title="a.DatetimeCreated + ' UTC'">[[a.DatetimeCreatedInTZ]]</span></td>
                                                    
                                                    <td class="user">
                                                        <span v-if="a.Username !== ''">[[a.Username]]</span>
                                                        <span v-else-if="a.APIKeyK !== ''">API - [[a.APIKeyDescription]]</span>
                                                    </td>
                                                    
                                                    <td class="method whitespace-no-wrap">
                                                        <span>[[a.Method]]</span> 
                                                        <span>([[a.TimeDuration]]ms)</span>
                                                    </td>
                                                    
                                                    <td class="data">
                                                        <span>
                                                            <span v-if="showReferrer" class="url whitespace-no-wrap">Endpoint:</span>
                                                            <span class="text-monospace">[[a.URL]]</span>
                                                        </span>
                                                        <br>

                                                        <span v-if="showReferrer">
                                                            <span>Referrer:</span>
                                                            <span class="text-monospace">[[a.Referrer]]</span>
                                                            <br>
                                                        </span>

                                                        <!-- 2 is the length of "{}" which is the blank value for PostFormValues -->
                                                        <span v-if="a.PostFormValues.length > '{}'.length">
                                                            <pre v-if="prettyPrintJSON">[[JSON.stringify(JSON.parse(a.PostFormValues), null, 2)]]</pre>
                                                            <span v-else>[[JSON.stringify(JSON.parse(a.PostFormValues), null, 2)]]</span>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end .card for results -->

                    </div> <!-- end .col -->
				</div> <!-- end .row -->
			</div> <!-- end .container -->
		</main>

		{{template "footer"}}
		{{template "html_scripts" .}}
        {{template "data-toggle-tooltip"}}
	</body>
</html>