<!DOCTYPE html>
<html>
	<head>
        <title>{{template "html_title_app_name" .}} | Activity Log Chart, Activity Over Time of Day</title>

		{{template "html_head" .}}
	</head>
	<body>
		<!-- HEADER -->
        {{template "header-with-btns" .}}

		<main>
			<div class="container">
				<div class="row">
                   <div class="col">
                        <div class="card" id="activityOverTimeOfDay">
                            <div class="card-header">
                                <h5>Activity Log Chart, Activity Over Time of Day</h5>
                                <div class="card-header-btn">
									<button class="btn btn-outline-primary btn-sm" v-on:click="showHelp = !showHelp"><i class="fas fa-question"></i></button>
								</div>
                            </div>
                            <div class="card-body">
                                <div v-show="showHelp" v-cloak>
									<div class="alert alert-primary mb-3">
                                        This chart shows the amount of user activity grouped into 10-minute intervals. Use this chart to determine when your users are most active in this app.
									</div>
								</div>

								<div class="alert" v-show="msg.length > 0" v-bind:class="msgType" v-cloak>
                                    [[msg]]
                                </div>
                                
                                <div>
                                    <canvas id="activity-over-time-of-day-chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>                   
			</div>
        </main>

        {{template "footer"}}
		{{template "html_scripts" .}}
	</body>
</html>